.root{
    -fx-background-color: linear-gradient(#c3d3d2, #8098a2);
}
.button{
    -fx-font-size: 14px;
    -fx-text-fill: rgba(255,255,255,0.9);
    -fx-font-weight: bold;
    -fx-background-color: #516063;


}
.button:hover{
    -fx-background-color: #12b2d2;

}

.label{
    -fx-text-fill: black;
}

#headLabel{
     -fx-font-size: 32px;
     -fx-font-weight: bold;
     -fx-text-fill: rgba(255,255,255,0.8);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,5,3 );
}

#modeText{
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-fill: rgba(255,255,255,0.8);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,5,3 );
    -fx-underline: true;
}
#levelText{
    -fx-font-size: 16px;
        -fx-font-weight: bold;
        -fx-fill: rgba(255,255,255,0.8);
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,5,3 );
        -fx-underline: true;
}


#circle{
    -fx-fill:#516063;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,5,3 );
}


#lockcircle{
    -fx-fill: rgba(255,255,255,0.8);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,5,3 );
}
#lockcircle: hover{
     -fx-fill:   #12b2d2;
     -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,5,3 );
}
#unlockcircle{
    -fx-fill:#516063;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,5,3 );
}

#letter{
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-font-weight: bold;

}
#modeSelection{
    -fx-font-size: 16px;
    -fx-background-color:rgba(0,0,0,0.2);
    -fx-text-fill: rgba(255,255,255,0.9);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,0,3 );

}
#modeSelection: hover{
    -fx-text-fill: #12b2d2;
}
#information{
    -fx-font-size: 18px;
    -fx-fill: rgba(255,255,255,0.8);
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,0,3 );

}
#scrollPane{
    -fx-background: #c3d3d2;
    -fx-vbar-policy: always;
    -fx-hbar-policy: never;
}
#help{
    -fx-background: #c3d3d2;
    -fx-vbar-policy: always;
}