.root{
    -fx-background: rgba(0,0,0,0.7);
}
.button{
    -fx-font-size: 14px;
    -fx-text-fill: rgba(255,255,255,0.9);
    -fx-font-weight: bold;
    -fx-background-color: #516063;


}
.button:hover{
    -fx-background-color: #12b2d2;

}
.label{
     -fx-font-size: 14px;
     -fx-font-weight: bold;
     -fx-text-fill: rgba(255,255,255,0.8);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 6,0,5,3 );

}