.root{
    -fx-background: rgba(0,0,0,0.7);
}
.label{
     -fx-font-size: 16px;
     -fx-font-family: "Arial Black";
     -fx-text-fill: white;
     -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.3) , 6, 0.0 , 0 , 2 );

}
#error{
    -fx-font-size: 12px;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 6, 0.0 , 0 , 2 );
}
